/*관리자 페이지 CSS*/

#manage_wrapper {
  width: 1680px;
  height: 930px;
  text-align: center;
  /* margin: 0 auto; */
  border: 1px solid black;
}

/*관리자 페이지*/

header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*관리자 페이지 header부분*/

/*관리자 페이지 header 이미지부분*/

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*관리자 페이지 메인부분*/

.manage_menu {
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

/*관리자 메뉴섹션*/

.manage_menu img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

/*관리자 메뉴 이미지*/

#nav_bar2 {
  width: 150px;
  padding: 0px;
  text-align: center;
  position: relative;
  list-style: none;
}

/*menu bar를 감싸는 div*/

.menu_bar2 {
  line-height: 5;
}

/*각각의 menu bar*/

.menu_bar2 a {
  text-decoration: none;
  color: black;
}

.menu_bar2 a:hover {
  font-weight: bold;
}

/*menu bar 안의 페이지 이동 관련*/

/* .menu_bar2 .submenu {
  position: absolute;
  width: 150px;
  height: 320px;
  left: 150px;
  box-shadow: 1px 1px 3px black;
  background-color: white;
  color: black;
  top: -5px;
  display: none;
} */

/*menubar가 펼쳐지면 나오는 부분 CSS*/

/* .menu_bar2:hover {
  font-weight: bold;
  color: white;
} */

/*메뉴바에 가져다 대었을때 hover*/

/* .submenu li {
  width: 110px;
  padding: 0;
  list-style: none;
} */

/*menu bar에 하위 메뉴*/

/* .menu_bar2 .submenu > li:hover {
  background-color: white;
  color: white;
} */

/*menu bar에 서브메뉴에 있는 li에 hover할때*/

#manage_main {
  width: 1580px;
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#manage_section {
  width: 1580px;
  height: 930px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid black;
}

/*관리자 페이지 내용이 들어갈 div*/

.manage_logout {
  margin-bottom: 30px;
}

/*관리자 메뉴 로그아웃*/

.manage_logout a {
  text-decoration: none;
  color: black;
  user-select: none;
}

.manage_logout:hover {
  font-weight: bold;
}

/*관리자 메뉴 로그아웃 hover*/

/*여기서 부터 관리자 고객관리 섹션 CSS*/

.manage_user {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 고객추가 섹션*/

.manage_title {
  font-size: 40px;
  margin-bottom: 30px;
}

/*고객추가 title*/

.add_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
}

/*고객추가 폼*/

.add_form label {
  padding: 10px;
  margin-right: auto;
}

/*고객추가 폼 안 항목별 라벨*/

.add_form input {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid black;
}

/*고객추가 폼 안 항목별 input*/

.userinfo_btns {
  margin-top: 30px;
}

/*고객추가섹션에서 버튼들을 감싸는 div*/

.user_btn {
  width: 202px;
  height: 50px;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/*고객추가섹션 버튼*/

.user_btn a {
  color: white;
  text-decoration: none;
}

/*고객 정보  조회 섹션 */

#manage_detail {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

/*고객정보 테이블과 버튼들을 감싸는 div*/

.manage_btns {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid black;
}

/*고객정보 관련 버튼들*/

.manage_btn {
  width: 100px;
  height: 30px;
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.manage_btn a {
  color: white;
  text-decoration: none;
}

.user_table {
  width: 1340px;
  border: 1px solid black;
}

/*고객정보 테이블*/

.user_table td {
  height: 30px;
}

/*고객정보 관련 */

/*여기서 부터는 상품 관련 CSS*/

.manage_pro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.manage_protitle {
  font-size: 40px;
  margin-bottom: 30px;
}

.proadd_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
}

.proadd_form label {
  padding: 10px;
  margin-right: auto;
  font-weight: bold;
}

/*상품추가폼 라벨 부분*/

.proadd_form input {
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

/*상품추가폼 input 부분*/

.proinfo_btns {
  margin-top: 30px;
}

/*고객추가섹션에서 버튼들을 감싸는 div*/

.pro_btn {
  width: 202px;
  height: 50px;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/*고객추가섹션 버튼*/

.pro_btn a {
  color: white;
  text-decoration: none;
}

.select_category {
  width: 400px;
  height: 30px;
}

/*상품추가폼 카테고리 선택*/

.pro_table {
  width: 1500px;
  /* border: 1px solid black; */
}

.pro_table th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/*상품 테이블 div*/

.pro_th {
  width: 80px;
}

/*테이블 헤더(th) 너비*/

.pro_th2 {
  width: 60px;
}

/*테이블 헤더(th) 2번째 크기*/

.pro_price {
  width: 100px;
}

.pro_count {
  width: 70px;
}

/*상품 재고량*/

.pro_name {
  width: 150px;
}

/*상품 테이블헤더 너비*/

.pro_info {
  width: 800px;
}

/*상품 설명*/

.t_tr {
  height: 60px;
}

/*테이블 데이터 (td)높이*/

.pro_img {
  width: 100px;
  height: 100px;
}

/*상품 이미지 크기*/

.pro_num {
  width: 40px;
}

/*상품 너비*/

/*여기서 부터는 주문관리에 대한 CSS*/
.order_table {
  width: 1500px;
}

.order_th {
  width: 70px;
}

.order_num {
  width: 40px;
}

.order_proname {
  width: 230px;
}

.order_memo {
  width: 290px;
}

.order_address {
  width: 270px;
}

.order_phone {
  width: 120px;
}

.order_price {
  width: 100px;
}

/*주문 테이블의 각 th에 대한 너비값 조정 */

.order_btns {
  width: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid black;
}

/*주문확인 페이지 버튼을 감싸는 div */

.order_combtns {
  width: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid black;
}

/*주문확인 완료된 버튼을 감싸는 div*/

.order_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
}

.order_form label {
  padding: 10px;
  margin-right: auto;
  font-weight: bold;
}

/*상품추가폼 라벨 부분*/

.order_form input {
  width: 400px;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
}
