/*메인페이지 CSS*/

@font-face {
  font-family: 'Lobster-Regular';
  src: url('/Frontend/fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

h1 {
  font-family: 'Lobster-Regular';
  font-size: 50px;
}

#wrapper {
  width: 1440px;
  min-height: 1024px;
  margin: 0 auto;
}
/*전체 페이지를 감싸는 부분*/

header {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*header부분*/

#header_title {
  width: 300px;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  user-select: none;
}

/*쇼핑몰 이름*/

#header_title img {
  width: 100px;
  height: 100px;
}

/*쇼핑몰 로고*/

#header_menu {
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}
/*검색, 로그인, 회원가입를 감싸는 부분*/

#header_search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  user-select: none;
}

/*header 부분 검색 감싸는 div*/

#header_search img {
  width: 20px;
  height: 20px;
  margin: 6px 5px 5px 5px;
}

#header_search input {
  width: 350px;
  height: 25px;
  margin: 0 15px;
  outline: 0;
  border: 0;
}

/*검색 input창*/

.header_menu_item {
  padding: 10px;
  font-size: 25px;
}
/*검색,로그인,회원가입 각각*/

.header_menu_item:hover {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

nav {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*nav 부분 CSS*/

#nav_menu {
  display: flex;
  list-style: none;
}

/*nav 안의 ul 태그 CSS*/

.nav_menu_item {
  padding: 3px 10px;
  margin: 0 43px;
  border: 5px solid transparent;
  border-radius: 8px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  user-select: none;
}

.nav_menu_item:hover {
  font-weight: bold;
  color: red;
  cursor: pointer;
  user-select: none;
}

/*nav 안 li 태그 안 a 태그 CSS*/

main {
  user-select: none;
}
/*main 부분 CSS*/

#main_banner {
  width: 1440px;
  height: 600px;
  margin: 30px auto;
  user-select: none;
}

/*메인 배너 부분 */

#main_banner img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

/*메인 배너 이미지 부분 */

#main_list_wrapper {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*메인 부분 리스트 섹션을 감싸는 div*/

.main_category_list {
  width: 1296px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*메인부분 카테고리 별 리스트 div*/

.main_category_introduction {
  width: 100%;
}

.main_category_introduction h3 {
  margin-left: 30px;
  user-select: none;
}

.main_category_introduction p {
  margin-left: 30px;
  user-select: none;
}

/* .main_category_introduction */

/*카테고리 제목 및 간단소개*/

.main_product_list {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*카테고리 내 상품을 감싸는 div*/

.main_product {
  width: 200px;
  height: 330px;
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/*카테고리별 각 상품*/

.main_product img {
  width: 195px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.main_product span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
}

.main_product p {
  height: 30%;
  font-size: 20px;
  user-select: none;
}

/*위 세 개는 각 상품별 이미지,제목,가격*/

/*여기서 부터는 footer 부분*/
footer {
  background-color: black;
  color: white;
}

#footer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*footer section을 감싸는 div*/

.footer_section1 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.footer_section1 p {
  margin: 0 10px;
  font-size: 13px;
  user-select: none;
}

/*footer에 들어갈 정보*/

.footer_section2 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.footer_section2 p {
  margin: 0 10px;
  font-size: 13px;
  user-select: none;
}

/**/

/*footer section 부분*/
