/*카테고리 섹션에 들어갈 CSS 파일*/

/* 상품 이미지 CSS */
.img {
  width: 195px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 4px lightgray;
}
/* 이미지 커서 올려놓을시 CSS */
.img:hover {
  box-shadow: 0 0 6px darkgray;
}
/* 상품명 CSS */
span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  user-select: none;
}
/* 가격 */
p {
  text-align: center;
  height: 30%;
  font-size: 18px;
  user-select: none;
}

.snack-category-list {
  margin: 50px 0px 0px 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
/* 안주류 카테고리 CSS */
.snack-category {
  width: 80px;
  padding: 8px;
  margin: 10px 23px;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: 0 0 2px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
/* 안주류 카테고리 클릭시 CSS */
a:hover {
  color: red;
  font-weight: bold;
}
/* 안주 고기류 두번째 줄 */

/*상품 카테고리에서 리스트 전체를 감싸는 부분*/

.item_line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 30px;
}

/*상품 카테고리 리스트*/

.items {
  width: 250px;
  height: 400px;
  margin-top: 10px;
}

/*상품 카테고리 Form Submit 버튼*/
#items-submit{
  background: white;
  border: 1px solid transparent;
}

/*상품 카테고리 */

.items_img {
  width: 250px;
  height: 240px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0 2px lightgray;
  object-fit: fill;
}

/*상품 이미지*/

.items_img:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

/*상품 이미지 hover*/

.item_span {
  height: 20%;
  color: black;
}

/*상품명*/
.item_p {
  height: 20%;
}

/*상품 가격*/

#recommend_lists {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
  margin-top: 50px;
}

/*추천 카테고리 전체*/

.recommend_list {
  width: 100%;
}

/*추천 카테고리 별로 묶은 div*/

.recommend_title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

/*추천 카테고리 타이틀*/

.recommend_items {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  place-items: center;
}

/*추천 카테고리 별 상품을 묶어놓은 div*/

.recommend_item {
  width: 30%;
}

/*추천 카테고리별 상품 div*/

.recommend_item span {
  height: 10%;
  margin-top: 20px;
}

/*추천 카테고리 상품명*/

.recommend_item p {
  height: 10%;
}

/*추천 카테고리 가격*/

.recommend_imgs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.recommend_imgs:hover {
  box-shadow: 0 0 5px darkgray;
  cursor: pointer;
}

/*추천 카테고리 이미지들을 묶은 div*/

.recommend_img {
  width: 216px;
  height: 200px;
}

/*추천 카테고리 이미지*/
