/* 상품명 밑줄 */
hr {
  width: 90%;
  color: darkgray;
}
/* 상품 사진, 가격, 버튼 */
.product-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  width: 95%;
  height: 500px;
}
/* 상품 사진 */
.product-main-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: -30px;
}
/* 상품 메인 사진 */
.main-img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
/* 상품명 */
.product-main-title {
  margin: 50px auto -50px;
}
/* 상품사진, 상품명, 가격 ,버튼 밑줄 */
.first-hr {
  width: 100%;
  color: rgb(236, 236, 236);
}
/* 가격 */
h2 {
  margin-top: -30px;
}
/* 수량 */
h3 {
  margin-left: 17px;
}
/* +,- 숫자 div */
.count-button {
  margin-bottom: -33px;
  margin-right: 50px;
}
/* -버튼 */
#decrement {
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
}
/* +버튼 */
#increment {
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  margin-left: 5px;
}
/* 모든 버튼 div */
.product-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* 상품명 부터 버튼까지 정렬div */
.product-buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: -10px auto auto 70px;
  width: 40%;
  height: 80%;
}
/* 구매하기,장바구니버튼 div */
.product-buy-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto -80px -50px auto;
}
/* 장바구니 버튼 */
.basket-button {
  border-radius: 3px;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: large;
}
/* 구매하기 버튼 */
.purchase-button {
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgb(165, 229, 255);
  color: rgb(38, 38, 38);
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-top: 5px;
  font-size: large;
}
/* 추천조합 부제목 */
.recommend-comment {
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 105px;
}
/* 추천 안주 나열 */
.product-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px 50px 80px;
}
/* 추천 안주 사진,이름,가격 정렬 */
.second-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto 10px;
}
/* 추천 안주 사진 */
.product-recommend-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
/* 추천 안주 사진 크기 정렬 */
.recommed-with-product {
  margin: auto 0px;
  width: 200px;
  height: 200px;
}
/* 추천 안주 이름 */
h5 {
  font-size: large;
}
/* 표 제목 */
caption {
  text-align: left;
  margin-left: 1%;
  font-size: 25px;
  margin-bottom: 30px;
}
/* 표 CSS */
table {
  width: 90%;
  height: 100px;
  margin: 80px 0px 70px 70px;
  border-collapse: collapse;
  table-layout: fixed;
  border: none;
}
/* 표 1행 */
.table-top {
  background-color: rgb(240, 240, 240);
  border-right: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
  border-left: 1px solid rgb(205, 205, 205);
  border-image: initial;
  border-top: none;
  font-weight: 100;
}
/* 표 2행 */
.table-bottom {
  border-top: 1px solid rgb(205, 205, 205);
  border-right: 1px solid rgb(205, 205, 205);
  border-left: 1px solid rgb(205, 205, 205);
  border-image: initial;
  width: 25%;
  border-bottom: none;
  font-weight: 100;
}
/* 상품 설명 */
ul {
  margin: 100px 0px 30px 60px;
}
/* 상품 설명 */
li {
  font-size: large;
  margin: 30px auto;
}
/* 추천 > 하이볼 만드는 방법 제목*/
.recipe-comment {
  font-size: 30px;
  margin-left: 70px;
}
/* 추천 > 하이볼 만드는 방법 설명 */
.recipe {
  font-size: 25px;
  margin-bottom: 50px;
  margin-left: 70px;
}
/* 술 설명 사진 */
.product-information-img {
  width: 80%;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
/* 서비스 규정 안내 */
.seviece-information {
  width: 50%;
  height: 900px;
  margin: 50px auto 100px;
  box-shadow: darkgrey 1px 1px 3px;
  display: flex;
  justify-content: center;
}
