/* 구매 완료 제목 */
h1 {
  margin: 50px;
  text-align: center;
}
/* 구매완료 단계 알림 강조 */
.step-order {
  margin-left: 5px;
  color: rgb(7, 171, 247);
  margin-right: 50px;
}
/* 결제 단계 문장 */
p {
  text-align: end;
}
/* 표 나타내기 전 구분 첫 줄 */
.first-hr {
  height: 2px;
  width: 95%;
  background-color: darkgray;
}
/* 표 제목 */
caption {
  font-size: 25px;
  margin: 30px;
  text-align: start;
}
/* 표 속성 CSS */
table {
  width: 95%;
  margin: auto;
  border-top: 4px solid rgb(202, 202, 202);
  height: 200px;
  border-spacing: 0px;
}
/* 표 1열 속성 */
.table-left {
  border-right: 1px solid rgb(56, 56, 56);
  border-bottom: 1px solid rgb(56, 56, 56);
  width: 20%;
  text-align: center;
  font-weight: bold;
  background-color: rgb(240, 240, 240);
  height: 50px;
}
/* 표 2열 속성 */
.table-right {
  border-bottom: 1px solid rgb(56, 56, 56);
  text-align: left;
  padding-left: 30px;
}
/* 표 끝나고나서 밑줄 */
.last-hr {
  margin: 50px auto;
  height: 2px;
  width: 95%;
  background-color: darkgray;
}
/* 홈페이지로 돌아가기 버튼 */
.go-index {
  text-align: center;
  border-width: 10000;
}
/* 홈페이지로 돌아가기 버튼 링크 */
a {
  color: darkgrey;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
}
