@font-face {
	font-family: "Lobster-Regular";
	src: url("/Frontend/fonts/Lobster-Regular.ttf");
}

@font-face {
	font-family: "Pretendard-Regular";
	src:
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: "Pretendard-Regular";
}

h1 {
	font-family: "Lobster-Regular";
	font-size: 50px;
}

#wrapper {
	width: 1440px;
	min-height: 1024px;
	margin: 0 auto;
}
전체 페이지를 감싸는 부분
header {
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header부분
#header_title {
	width: 300px;
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: black;
	text-decoration: none;
	user-select: none;
}

쇼핑몰 이름
#header_title img {
	width: 100px;
	height: 100px;
}

쇼핑몰 로고
#header_menu {
	margin: 0 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;
}
검색, 로그인, 회원가입를 감싸는 부분
#header_search {
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 6px;
	user-select: none;
	text-align: center;
  
}

header 부분 검색 감싸는 div
#header_search img {
	width: 20px;
	height: 20px;
	margin: 6px 5px 5px 5px;
}

#header_search input {
	width: 80%;
	height: 40%;
	
	padding: 10px;
	margin: 0 auto;
	font-size:30px;
	outline: 0;
	border: 0;
}

.header_menu_item {
	padding: 10px;
	font-size: 25px;
	color: black;
	text-decoration: none;
}
검색,로그인,회원가입 각각
.header_menu_item:hover {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}

nav {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
nav 부분 CSS
#nav_menu {
	display: flex;
	list-style: none;
}

nav 안의 ul 태그 CSS
.nav_menu_item {
	padding: 7px;
	margin: 0 43px;
	border: 5px solid transparent;
	border-radius: 8px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	user-select: none;
}

.nav_menu_item:hover {
	font-weight: bold;
	color: red;
	cursor: pointer;
	user-select: none;
}

nav 안 li 태그 안 a 태그 CSS
main {
	user-select: none;
}
main 부분 CSS
#main_banner {
	width: 1440px;
	height: 600px;
	margin: 30px auto;
	user-select: none;
}

메인 배너 부분
#main_banner img {
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
}

메인 배너 이미지 부분
#main_list_wrapper {
	width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

메인 부분 리스트 섹션을 감싸는 div
.main_category_list {
	width: 1296px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

메인부분 카테고리 별 리스트 div
.main_category_introduction {
	width: 100%;
}

.main_category_introduction h3 {
	margin-left: 30px;
	user-select: none;
}

.main_category_introduction p {
	margin-left: 30px;
	user-select: none;
}

.main_category_introduction

카테고리 제목 및 간단소개
.main_product_list {
	width: 100%;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

카테고리 내 상품을 감싸는 div
.main_product {
	width: 200px;
	height: 330px;
	margin: 10px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

카테고리별 각 상품
.main_product img {
	width: 195px;
	height: 190px;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
}

.main_product span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	user-select: none;
}

.main_product p {
	height: 30%;
	font-size: 20px;
	user-select: none;
}

위 세 개는 각 상품별 이미지,제목,가격

여기서 부터는 footer 부분
footer {
	background-color: black;
	color: white;
}

#footer_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer section을 감싸는 div
.footer_section1 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section1 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}

footer에 들어갈 정보
.footer_section2 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section2 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}



footer section 부분

마이페이지 및 장바구니 섹션 CSS
#mypage_center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}
mypage의 main 부분을 담당하는 CSS
.mypage_list {
	width: 300px;
	height: 819.2px;
	margin: 30px 0;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0px 0px 1.2px black;
}

mypage main부분의 선택가능한 목록 CSS
.mypage_list a {
	margin: 32px auto;
	text-decoration: none;
	color: black;
	line-height: 2;
}

mypage main부분 목록 각각링크의 CSS
.mypage_list ul {
	padding-left: 0;
}

.mypage_list li {
	list-style: none;
	font-size: 30px;
	padding-left: 0;
}

.mypage_list li:hover {
	font-weight: bold;
	cursor: pointer;
}

mypage 부분 리스트 관련 CSS
.mypage_introduction {
	width: 900px;
	height: 819.2px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 1.2px black;
}

mypage에서 목록 중 한개 선택할 때 나오는 CSS
.basket_list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.basket_title {
	margin-top: 25px;
	font-size: 30px;
}

.basket_tables {
	margin-top: 30px;
	border-collapse: collapse;
}

내 장바구니에서 테이블과 title을 감싸고 있는 div
.basket_table {
	border-collapse: collapse;
	border: 1px solid black;
}

장바구니 테이블
.basket_table td {
	text-align: center;
	border: 1px solid black;
}

.basket_table th {
	height: 40px;
	border: 1px solid black;
}

.basket_num {
	width: 70px;
}

.basket_proName {
	width: 250px;
}

.basket_pro {
	width: 120px;
}

장바구니 테이블을 감싸는
.basket_result {
	margin-top: auto;
	font-size: 30px;
}

장바구니에 담긴 값들에 대한 CSS
.basket_btns {
	display:flex;
	margin-top: 10px;
	margin-bottom: 30px;
}

장바구니 탭의 버튼을 감싸고 있는 div
.basket_btn {
	width: 150px;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

장바구니 탭의 버튼
.mypage_edit {
	width: 300px;
	padding: 50px;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	border: 1px solid black;
}

고객정보 수정에 관한 폼
.mypage_edit label {
	margin: 10px 0;
}
고객정보 수정에 대한 label
.edit_btns {
	margin: 30px auto;
	text-align: center;
}

고객정보 수정버튼을 감싸는 div
.edit_btn {
	width: 300px;
	height: 40px;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

고객정보 수정버튼
.withdraw_form {
	border: 1px solid black;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.withdraw_form label {
	width: 70px;
	margin: 10px 0;
}

.withdraw_btns {
	margin-top: 30px;
	border: 1px solid gray;
	display:flex;
}

.withdraw_btn {
	width: 100px;
	height: 30px;
	background-color: black;
	border-radius: 4px;
	color: white;
}

@font-face {
	font-family: "Lobster-Regular";
	src: url("/Frontend/fonts/Lobster-Regular.ttf");
}

@font-face {
	font-family: "Pretendard-Regular";
	src:
		url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: "Pretendard-Regular";
}

h1 {
	font-family: "Lobster-Regular";
	font-size: 50px;
}

#wrapper {
	width: 1440px;
	min-height: 1024px;
	margin: 0 auto;
}
/*전체 페이지를 감싸는 부분*/
header {
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*header부분*/
#header_title {
	width: 300px;
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: black;
	text-decoration: none;
	user-select: none;
}

/*쇼핑몰 이름*/
#header_title img {
	width: 100px;
	height: 100px;
}

/*쇼핑몰 로고*/
#header_menu {
	margin: 0 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;
}
/*검색, 로그인, 회원가입를 감싸는 부분*/
#header_search {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 6px;
	user-select: none;
}

/*header 부분 검색 감싸는 div*/
#header_search img {
	width: 20px;
	height: 20px;
	margin: 6px 5px 5px 5px;
}

#header_search input {
	
}

/*검색 input창*/
.header_menu_item {
	padding: 10px;
	font-size: 25px;
}
/*검색,로그인,회원가입 각각*/
.header_menu_item:hover {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}

nav {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
/*nav 부분 CSS*/
#nav_menu {
	display: flex;
	list-style: none;
}

/*nav 안의 ul 태그 CSS*/
.nav_menu_item {
	padding: 3px 10px;
	margin: 0 43px;
	border: 5px solid transparent;
	border-radius: 8px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	user-select: none;
}

.nav_menu_item:hover {
	font-weight: bold;
	color: red;
	cursor: pointer;
	user-select: none;
}

/*nav 안 li 태그 안 a 태그 CSS*/
main {
	user-select: none;
}
/*main 부분 CSS*/
#main_banner {
	width: 1440px;
	height: 600px;
	margin: 30px auto;
	user-select: none;
}

/*메인 배너 부분 */
#main_banner img {
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
}

/*메인 배너 이미지 부분 */
#main_list_wrapper {
	width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*메인 부분 리스트 섹션을 감싸는 div*/
.main_category_list {
	width: 1296px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*메인부분 카테고리 별 리스트 div*/
.main_category_introduction {
	width: 100%;
}

.main_category_introduction h3 {
	margin-left: 30px;
	user-select: none;
}

.main_category_introduction p {
	margin-left: 30px;
	user-select: none;
}

/* .main_category_introduction */

/*카테고리 제목 및 간단소개*/
.main_product_list {
	width: 100%;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*카테고리 내 상품을 감싸는 div*/
.main_product {
	width: 200px;
	height: 330px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

/*카테고리별 각 상품*/

/* .main_product img {
  width: 195px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.main_product span {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.main_product p {
  height: 30%;
  font-size: 20px;
  user-select: none;
} */

/*위 세 개는 각 상품별 이미지,제목,가격*/
.items-submit {
	width: 220px;
	height: 330px;
	border: 1px solid transparent;
	background-color: white;
}

.items-submit img {
	width: 195px;
	height: 190px;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
}

.items-submit span {
	width: 100%;
	height: 20%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
	display: flex;
}

.items-submit p {
	height: 20%;
	font-size: 20px;
	user-select: none;
}

/*여기서 부터는 footer 부분*/
footer {
	background-color: black;
	color: white;
}

#footer_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*footer section을 감싸는 div*/
.footer_section1 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section1 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}

/*footer에 들어갈 정보*/
.footer_section2 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section2 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}

/**/

/*footer section 부분*/

/*마이페이지 및 장바구니 섹션 CSS*/

/*mypage의 main 부분을 담당하는 CSS*/
.mypage_list {
	width: 300px;
	height: 819.2px;
	margin: 30px 0;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0px 0px 1.2px black;
}

/*mypage main부분의 선택가능한 목록 CSS*/
.mypage_list a {
	margin: 32px auto;
	text-decoration: none;
	color: black;
	line-height: 2;
}

/*mypage main부분 목록 각각링크의 CSS*/
.mypage_list ul {
	padding-left: 0;
}

.mypage_list li {
	list-style: none;
	font-size: 30px;
	padding-left: 0;
}

.mypage_list li:hover {
	font-weight: bold;
	cursor: pointer;
}

/*mypage 부분 리스트 관련 CSS*/

/*내 장바구니에서 테이블과 title을 감싸고 있는 div*/

/*장바구니 테이블*/
.basket_table td {
	text-align: center;
	border: 1px solid black;
}

.basket_table th {
	height: 40px;
	border: 1px solid black;
}

.basket_num {
	width: 70px;
}

.basket_proName {
	width: 250px;
}

/*장바구니 테이블을 감싸는*/

/*장바구니에 담긴 값들에 대한 CSS*/

/*고객정보 수정에 대한 label*/
.edit_btns {
	margin: 30px auto;
	text-align: center;
}

/*고객정보 수정버튼을 감싸는 div*/
.edit_btn {
	width: 300px;
	height: 40px;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

/*고객정보 수정버튼*/
.withdraw_form {
	border: 1px solid black;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

/*회원탈퇴 제목*/
.withdraw_form label {
	width: 70px;
	margin: 10px 0;
}

/*회원탈퇴 버튼을 감싸는 div*/
.withdraw_btns {
	margin-top: 30px;
	border: 1px solid transparent;
	display:flex;

	justify-content:center;
}

/*회원탈퇴 버튼*/
.withdraw_btn {
	width: 100px;
	height: 30px;
	background-color: black;
	border-radius: 4px;
	color: white;
}

/*댓글 부분 감싸는 div*/
.board_wrapper {
	display: flex;
	margin-bottom: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select:none;
}

/*댓글 폼*/
.board_form {
	user-select:none;
	
}

/*댓글 테이블*/
.board_table {
	width: 1200px;
	height: 30px;
	text-align: center;
	border-collapse: collapse;
	user-select:none;
}

.board_table tr {
	border-bottom:1px solid black;
}

.board_th {
	width:100px;
}

/*게시판 특정 td*/
.board_td {
	/* width: 50px; */
	padding: 10px;
	text-align: left;
	user-select:none;
}

/*게시판 수정 버튼 부분*/
.board_td_btn {
	display:flex;
	flex-direction:row;
	justify-content:center;
	text-align: center;
	user-select:none;
}

/*게시판 수정, 삭제 버튼 일괄적용*/
.board_td_btn button {
	padding: 4px;
	border: 1px solid transparent;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
	user-select:none;
}

/*게시판 수정, 삭제 버튼 */
.board_td_btn button:hover {
	color:red;
	font-weight:bold;
}

/*테이블 헤더 부분*/
.board_table th {
	padding: 10px;
/* 	border-bottom: 1px solid black; */
	user-select:none;
}

/*특정 td 제외한 전체 td*/
.board_table td {
	padding: 20px;
	text-align: center;
	user-select:none;
}

/*댓글 내용부분*/
.board_content {
	width:60%;
}

/*댓글 작성 창 감싸는 div*/
.comment_wrapper {
	width: 800px;
	height: 50px;
	display: flex;
	flex-direction: columns;
	justify-content: center;
	align-items: center;
	user-select:none;
}

/*댓글작성 버튼*/
.comment_wrapper button {
	padding: 8px;
	margin-left: 10px;
	margin-bottom:20px;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: white;
	user-select:none;
}

.comment_wrapper button:hover {
	font-weight: bold;
	color: red;
	cursor: pointer;
	user-select:none;
}

/*댓글 작성자*/
.writer {
	width: 60px;
	padding: 8px;
	margin-right: 10px;
	border: 1px solid transparent;
	border-bottom: 1px solid black;
	outline: none;
	user-select:none;
}

/*댓글내용*/
.comment {
	width: 550px;
	padding: 8px;
	border: 1px solid transparent;
	border-bottom: 1px solid black;
	outline: none;
	user-select:none;
}

/*수정완료 버튼*/
.edit-input {
	width: 95%;
	padding: 5px;
	border: 1px solid transparent;
	border-bottom: 1px solid black;
	outline: none;
	user-select:none;
}

.commentT input{
	width:100%;
	padding:4px;
	border:1px solid transparent;
	font-size:20px;
	outline:none;
}

