/*마이페이지 및 장바구니 섹션 CSS*/
body {
	padding: 0;
	margin: 0;
}

#mypage_center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}
/*mypage의 main 부분을 담당하는 CSS*/
.mypage_list {
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0px 0px 1.2px black;
}

/*mypage main부분의 선택가능한 목록 CSS*/
.mypage_list a {
	margin: 32px auto;
	text-decoration: none;
	color: black;
	line-height: 2;
}

/*mypage main부분 목록 각각링크의 CSS*/
.mypage_list ul {
	padding-left: 0;
}

.mypage_list li {
	list-style: none;
	font-size: 30px;
	padding-left: 0;
}

.mypage_list li:hover {
	font-weight: bold;
	cursor: pointer;
}

/*mypage 부분 리스트 관련 CSS*/
.mypage_introduction {
	width: 900px;
	height: 819.2px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 1.2px black;
}

/*mypage에서 목록 중 한개 선택할 때 나오는 CSS*/
.basket_list {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
}

.basket_title {
	font-size: 30px;
}

.basket_tables {
	max-height: 800px;
	margin-top: 30px;
}

/*내 장바구니에서 테이블과 title을 감싸고 있는 div*/
.basket_table {
	width: 800px;
	border-collapse: collapse;
	border: 1px solid lightgray;
	user-select: none;
}

/*장바구니 테이블*/
.basket_table th {
	height: 40px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	/* height: 50px; */
	color: black;
}

.basket_table td {
	text-align: center;
	border: 1px solid black;
	height: 20px;
	padding: 6px;
	border-top: 1px solid lightgray;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.basket_quantity {
	user-select: none;
}

.basket_name {
	width: 330px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.basket_pro {
	max-width:300px;
}

/*장바구니 테이블을 감싸는*/
.basket_result {
	margin-top: auto;
	font-size: 30px;
}

/*장바구니에 담긴 값들에 대한 CSS*/
.basket_btns {
	display: flex;
	margin-top: 10px;
	margin-bottom: 30px;
}

/*장바구니 탭의 버튼을 감싸고 있는 div*/
.basket_btn {
	width: 150px;
	padding: 10px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

/*장바구니 탭의 버튼*/
.basket_edit_btn {
	width: 150px;
	padding: 8px;
	margin: 0 10px;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

/*장바구니 탭의 수정하기 버튼*/
.mypage_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mypage_form_title {
	margin-top: 70px;
	text-align: center;
}

.mypage_form span {
	font-size: 30px;
}

.mypage_edit {
	width: 350px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

/*고객정보 수정에 관한 폼 */
.mypage_edit label {
	margin: 10px 0;
}
/*고객정보 수정에 대한 label*/
.mypage_edit input {
	width: 100%;
	padding: 10px;
}

.edit_btns {
	margin: 20px;
	text-align: center;
}

/*고객정보 수정버튼을 감싸는 div*/
.edit_btn {
	height: 40px;
	margin-left: 20px;
	border-radius: 6px;
	background-color: black;
	color: white;
	font-size: 20px;
}

/*고객정보 수정버튼*/
.withdraw_form {
	width: 300px;
	margin-top: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	border: 1px solid transparent;
	/* box-shadow: 0 0 2px; */
}

.withdraw_form label {
	width: 70px;
	margin: 10px 0;
}

.withdraw_form input {
	padding: 10px;
}

.withdraw_btns {
	margin-top: 30px;
}

.withdraw_btn {
	width: 250px;
	height: 40px;
	border-radius: 4px;
	font-size: 20px;
	color: white;
}