/* 검색 페이지 섹션 CSS */

#header_search {
  width: 50%;
}

#search_title {
  text-align: center;
  margin-top: 15px;
}

#header_search {
  text-align: center;
  margin: 0 auto;
}
#header_search input {
  display: block;
  margin: 0 auto;
}
